.about-resources {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.about-resources h1, .about-resources h2 {
    font-weight: bold;
}
.about-resources h2 {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-top: 10px;
}
.about-resources p {
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 10px;
    margin-left: 20px;
}
.about-resources ul {
    font-size: 0.8em;
    font-weight: normal;
    list-style-type: disc;
    margin-bottom: 10px;
    margin-left: 30px;
    padding-left: 10px;
}
.about-sponsor table {
    width: 100%;
}
.about-sponsor td {
    padding: 8px;
    vertical-align: top;
}
.ac_results {
    background-color: white;
    border: 1px solid #CCCCCC;
    overflow: hidden;
    padding: 0;
    z-index: 99999;
}
.ac_results ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.ac_results li {
    cursor: default;
    display: block;
    font-family: arial,sans-serif;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    overflow: hidden;
    padding: 2px 5px;
}
.ac_odd {
    background-color: #F9F9F9;
}
.ac_over {
    background-color: #BAD3EA;
}
.ui-tooltip, .qtip {
    display: none;
    font-size: 10.5px;
    left: -28000px;
    line-height: 12px;
    max-width: 280px;
    min-width: 50px;
    position: absolute;
    top: -28000px;
    z-index: 15000;
}
.ui-tooltip-fluid {
    display: block;
    float: left !important;
    position: static !important;
    visibility: hidden;
}
.ui-tooltip-content {
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    padding: 5px 9px;
    position: relative;
    text-align: left;
    word-wrap: break-word;
}
.ui-tooltip-titlebar {
    border-style: solid;
    border-width: 1px 1px 0;
    font-weight: bold;
    min-height: 14px;
    overflow: hidden;
    padding: 5px 35px 5px 10px;
    position: relative;
}
.ui-tooltip-titlebar + .ui-tooltip-content {
    border-top-width: 0 !important;
}
.ui-tooltip-titlebar .ui-state-default {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    margin-top: -9px;
    outline: medium none;
    position: absolute;
    right: 4px;
    top: 50%;
}
* html .ui-tooltip-titlebar .ui-state-default {
    top: 16px;
}
.ui-tooltip-titlebar .ui-icon, .ui-tooltip-icon .ui-icon {
    display: block;
    text-indent: -1000em;
}
.ui-tooltip-icon, .ui-tooltip-icon .ui-icon {
    border-radius: 3px 3px 3px 3px;
}
.ui-tooltip-icon .ui-icon {
    background: none no-repeat scroll -100em -100em transparent;
    color: inherit;
    font: bold 10px/13px Tahoma,sans-serif;
    height: 14px;
    text-align: center;
    text-indent: 0;
    width: 18px;
}
.ui-tooltip-default .ui-tooltip-titlebar, .ui-tooltip-default .ui-tooltip-content {
    background-color: #FFFFA3;
    border-color: #F1D031;
    color: #555555;
}
.ui-tooltip-default .ui-tooltip-titlebar {
    background-color: #FFEF93;
}
.ui-tooltip-default .ui-tooltip-icon {
    background: none repeat scroll 0 0 #F1F1F1;
    border-color: #CCCCCC;
    color: #777777;
}
.ui-tooltip-default .ui-tooltip-titlebar .ui-state-hover {
    border-color: #AAAAAA;
    color: #111111;
}
.ui-tooltip .ui-tooltip-tip {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 dashed transparent !important;
    margin: 0 auto;
    overflow: hidden;
    z-index: 10;
}
.ui-tooltip .ui-tooltip-tip, .ui-tooltip .ui-tooltip-tip * {
    background: none repeat scroll 0 0 transparent;
    border: 0 dashed transparent;
    color: #123456;
    font-size: 0.1px !important;
    line-height: 0.1px !important;
    position: absolute;
}
.ui-tooltip .ui-tooltip-tip canvas {
    left: 0;
    top: 0;
}
.ui-tooltip-light .ui-tooltip-titlebar, .ui-tooltip-light .ui-tooltip-content {
    border-color: #E2E2E2;
    color: #454545;
}
.ui-tooltip-light .ui-tooltip-content {
    background-color: white;
}
.ui-tooltip-light .ui-tooltip-titlebar {
    background-color: #F1F1F1;
}
.ui-tooltip-dark .ui-tooltip-titlebar, .ui-tooltip-dark .ui-tooltip-content {
    border-color: #303030;
    color: #F3F3F3;
}
.ui-tooltip-dark .ui-tooltip-content {
    background-color: #505050;
}
.ui-tooltip-dark .ui-tooltip-titlebar {
    background-color: #404040;
}
.ui-tooltip-dark .ui-tooltip-icon {
    border-color: #444444;
}
.ui-tooltip-dark .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-cream .ui-tooltip-titlebar, .ui-tooltip-cream .ui-tooltip-content {
    border-color: #F9E98E;
    color: #A27D35;
}
.ui-tooltip-cream .ui-tooltip-content {
    background-color: #FBF7AA;
}
.ui-tooltip-cream .ui-tooltip-titlebar {
    background-color: #F0DE7D;
}
.ui-tooltip-cream .ui-state-default .ui-tooltip-icon {
    background-position: -82px 0;
}
.ui-tooltip-red .ui-tooltip-titlebar, .ui-tooltip-red .ui-tooltip-content {
    border-color: #D95252;
    color: #912323;
}
.ui-tooltip-red .ui-tooltip-content {
    background-color: #F78B83;
}
.ui-tooltip-red .ui-tooltip-titlebar {
    background-color: #F06D65;
}
.ui-tooltip-red .ui-state-default .ui-tooltip-icon {
    background-position: -102px 0;
}
.ui-tooltip-red .ui-tooltip-icon {
    border-color: #D95252;
}
.ui-tooltip-red .ui-tooltip-titlebar .ui-state-hover {
    border-color: #D95252;
}
.ui-tooltip-green .ui-tooltip-titlebar, .ui-tooltip-green .ui-tooltip-content {
    border-color: #90D93F;
    color: #3F6219;
}
.ui-tooltip-green .ui-tooltip-content {
    background-color: #CAED9E;
}
.ui-tooltip-green .ui-tooltip-titlebar {
    background-color: #B0DE78;
}
.ui-tooltip-green .ui-state-default .ui-tooltip-icon {
    background-position: -42px 0;
}
.ui-tooltip-blue .ui-tooltip-titlebar, .ui-tooltip-blue .ui-tooltip-content {
    border-color: #ADD9ED;
    color: #5E99BD;
}
.ui-tooltip-blue .ui-tooltip-content {
    background-color: #E5F6FE;
}
.ui-tooltip-blue .ui-tooltip-titlebar {
    background-color: #D0E9F5;
}
.ui-tooltip-blue .ui-state-default .ui-tooltip-icon {
    background-position: -2px 0;
}
.ui-tooltip-shadow {
    box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}
.ui-tooltip-shadow .ui-tooltip-titlebar, .ui-tooltip-shadow .ui-tooltip-content {
}
.ui-tooltip-rounded, .ui-tooltip-rounded .ui-tooltip-content, .ui-tooltip-tipsy, .ui-tooltip-tipsy .ui-tooltip-content, .ui-tooltip-youtube, .ui-tooltip-youtube .ui-tooltip-content {
    border-radius: 4px 4px 4px 4px;
}
.ui-tooltip-rounded .ui-tooltip-titlebar, .ui-tooltip-tipsy .ui-tooltip-titlebar, .ui-tooltip-youtube .ui-tooltip-titlebar {
    border-radius: 5px 5px 0 0;
}
.ui-tooltip-rounded .ui-tooltip-titlebar + .ui-tooltip-content, .ui-tooltip-tipsy .ui-tooltip-titlebar + .ui-tooltip-content, .ui-tooltip-youtube .ui-tooltip-titlebar + .ui-tooltip-content {
    border-radius: 0 0 5px 5px;
}
.ui-tooltip-youtube {
    box-shadow: 0 0 3px #333333;
}
.ui-tooltip-youtube .ui-tooltip-titlebar, .ui-tooltip-youtube .ui-tooltip-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    border-color: #CCCCCC;
    color: white;
}
.ui-tooltip-youtube .ui-tooltip-icon {
    border-color: #222222;
}
.ui-tooltip-youtube .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-jtools {
    background: -moz-linear-gradient(center top , #717171, #232323) repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    border: 2px solid #F1F1F1;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 0 12px #333333;
}
.ui-tooltip-jtools .ui-tooltip-titlebar {
}
.ui-tooltip-jtools .ui-tooltip-content {
}
.ui-tooltip-jtools .ui-tooltip-titlebar, .ui-tooltip-jtools .ui-tooltip-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 dashed transparent;
    color: white;
}
.ui-tooltip-jtools .ui-tooltip-icon {
    border-color: #555555;
}
.ui-tooltip-jtools .ui-tooltip-titlebar .ui-state-hover {
    border-color: #333333;
}
.ui-tooltip-cluetip {
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
}
.ui-tooltip-cluetip .ui-tooltip-titlebar {
    background-color: #87876A;
    border: 0 dashed transparent;
    color: white;
}
.ui-tooltip-cluetip .ui-tooltip-content {
    background-color: #D9D9C2;
    border: 0 dashed transparent;
    color: #111111;
}
.ui-tooltip-cluetip .ui-tooltip-icon {
    border-color: #808064;
}
.ui-tooltip-cluetip .ui-tooltip-titlebar .ui-state-hover {
    border-color: #696952;
    color: #696952;
}
.ui-tooltip-tipsy {
    border: 0 none;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar, .ui-tooltip-tipsy .ui-tooltip-content {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.87);
    border: 0 none transparent;
    color: white;
    font-family: 'Lucida Grande',sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar {
}
.ui-tooltip-tipsy .ui-tooltip-content {
}
.ui-tooltip-tipsy .ui-tooltip-icon {
    border-color: #222222;
    text-shadow: none;
}
.ui-tooltip-tipsy .ui-tooltip-titlebar .ui-state-hover {
    border-color: #303030;
}
.ui-tooltip-tipped .ui-tooltip-titlebar, .ui-tooltip-tipped .ui-tooltip-content {
    border: 3px solid #959FA9;
    filter: none;
}
.ui-tooltip-tipped .ui-tooltip-titlebar {
    background: -moz-linear-gradient(center top , #3A79B8, #2E629D) repeat scroll 0 0 #3A79B8;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
    color: white;
    font-family: serif;
    font-weight: normal;
}
.ui-tooltip-tipped .ui-tooltip-content {
    background-color: #F9F9F9;
    border-radius: 0 0 3px 3px;
    color: #454545;
}
.ui-tooltip-tipped .ui-tooltip-icon {
    background: none repeat scroll 0 0 #285589;
    border: 2px solid #285589;
}
.ui-tooltip-tipped .ui-tooltip-icon .ui-icon {
    background-color: #FBFBFB;
    color: #555555;
}
.ui-tooltip:not(.ie9haxors) div.ui-tooltip-content, .ui-tooltip:not(.ie9haxors) div.ui-tooltip-titlebar {
    filter: none;
}
.syntaxhighlighter a, .syntaxhighlighter div, .syntaxhighlighter code, .syntaxhighlighter table, .syntaxhighlighter table td, .syntaxhighlighter table tr, .syntaxhighlighter table tbody, .syntaxhighlighter table thead, .syntaxhighlighter table caption, .syntaxhighlighter textarea, .pod code *, .pod pre * {
    background: none repeat scroll 0 0 transparent !important;
    border: 0 none !important;
    border-radius: 0 0 0 0 !important;
    bottom: auto !important;
    float: none !important;
    font-family: "Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;
    font-size: 1em !important;
    font-style: normal !important;
    font-weight: normal !important;
    height: auto !important;
    left: auto !important;
    line-height: 1.2em !important;
    margin: 0 !important;
    min-height: inherit !important;
    outline: 0 none !important;
    overflow: visible !important;
    padding: 0 !important;
    position: static !important;
    right: auto !important;
    text-align: left !important;
    top: auto !important;
    vertical-align: baseline !important;
    width: auto !important;
}
.syntaxhighlighter, .pod pre {
    font-size: 1em !important;
    margin: 1em 0 !important;
    overflow: auto !important;
    position: relative !important;
    width: 100% !important;
}
.syntaxhighlighter.source {
    overflow: hidden !important;
}
.syntaxhighlighter .bold {
    font-weight: bold !important;
}
.syntaxhighlighter .italic {
    font-style: italic !important;
}
.syntaxhighlighter .line {
    white-space: pre !important;
}
.syntaxhighlighter table {
    width: 100% !important;
}
.syntaxhighlighter table caption {
    padding: 0.5em 0 0.5em 1em !important;
    text-align: left !important;
}
.syntaxhighlighter table td.code {
    width: 100% !important;
}
.syntaxhighlighter table td.code .container {
    position: relative !important;
}
.syntaxhighlighter table td.code .container textarea {
    border: medium none !important;
    height: 100% !important;
    left: 0 !important;
    overflow: hidden !important;
    padding-left: 1em !important;
    position: absolute !important;
    top: 0 !important;
    white-space: pre !important;
    width: 100% !important;
}
.syntaxhighlighter table td.gutter .line {
    padding: 0 0.5em 0 1em !important;
    text-align: right !important;
}
.syntaxhighlighter table td.code .line {
    padding: 0 1em !important;
}
.syntaxhighlighter.nogutter td.code .container textarea, .syntaxhighlighter.nogutter td.code .line {
    padding-left: 0 !important;
}
.syntaxhighlighter.show {
    display: block !important;
}
.syntaxhighlighter.collapsed table {
    display: none !important;
}
.syntaxhighlighter.collapsed .toolbar {
    font-size: 1em !important;
    height: auto !important;
    padding: 0.1em 0.8em 0 !important;
    position: static !important;
    width: auto !important;
}
.syntaxhighlighter.collapsed .toolbar span {
    display: inline !important;
    margin-right: 1em !important;
}
.syntaxhighlighter.collapsed .toolbar span a {
    display: none !important;
    padding: 0 !important;
}
.syntaxhighlighter.collapsed .toolbar span a.expandSource {
    display: inline !important;
}
.syntaxhighlighter .toolbar {
    font-size: 10px !important;
    height: 11px !important;
    position: absolute !important;
    right: 1px !important;
    top: 1px !important;
    width: 11px !important;
    z-index: 10 !important;
}
.syntaxhighlighter .toolbar span.title {
    display: inline !important;
}
.syntaxhighlighter .toolbar a {
    display: block !important;
    padding-top: 1px !important;
    text-align: center !important;
    text-decoration: none !important;
}
.syntaxhighlighter .toolbar a.expandSource {
    display: none !important;
}
.syntaxhighlighter.ie {
    font-size: 0.9em !important;
    padding: 1px 0 !important;
}
.syntaxhighlighter.ie .toolbar {
    line-height: 8px !important;
}
.syntaxhighlighter.ie .toolbar a {
    padding-top: 0 !important;
}
.syntaxhighlighter.printing .line.alt1 .content, .syntaxhighlighter.printing .line.alt2 .content, .syntaxhighlighter.printing .line.highlighted .number, .syntaxhighlighter.printing .line.highlighted.alt1 .content, .syntaxhighlighter.printing .line.highlighted.alt2 .content {
    background: none repeat scroll 0 0 transparent !important;
}
.syntaxhighlighter.printing .line .number {
    color: #BBBBBB !important;
}
.syntaxhighlighter.printing .line .content {
    color: black !important;
}
.syntaxhighlighter.printing .toolbar {
    display: none !important;
}
.syntaxhighlighter.printing a {
    text-decoration: none !important;
}
.syntaxhighlighter.printing .plain, .syntaxhighlighter.printing .plain a {
    color: black !important;
}
.syntaxhighlighter.printing .comments, .syntaxhighlighter.printing .comments a {
    color: #008200 !important;
}
.syntaxhighlighter.printing .string, .syntaxhighlighter.printing .string a {
    color: blue !important;
}
.syntaxhighlighter.printing .keyword {
    color: #006699 !important;
    font-weight: bold !important;
}
.syntaxhighlighter.printing .preprocessor {
    color: gray !important;
}
.syntaxhighlighter.printing .variable {
    color: #AA7700 !important;
}
.syntaxhighlighter.printing .value {
    color: #009900 !important;
}
.syntaxhighlighter.printing .functions {
    color: #FF1493 !important;
}
.syntaxhighlighter.printing .constants {
    color: #0066CC !important;
}
.syntaxhighlighter.printing .script {
    font-weight: bold !important;
}
.syntaxhighlighter.printing .color1, .syntaxhighlighter.printing .color1 a {
    color: gray !important;
}
.syntaxhighlighter.printing .color2, .syntaxhighlighter.printing .color2 a {
    color: #FF1493 !important;
}
.syntaxhighlighter.printing .color3, .syntaxhighlighter.printing .color3 a {
    color: red !important;
}
.syntaxhighlighter.printing .break, .syntaxhighlighter.printing .break a {
    color: black !important;
}
.syntaxhighlighter .line.highlighted.alt1, .syntaxhighlighter .line.highlighted.alt2 {
    background-color: #E0E0E0 !important;
}
.syntaxhighlighter .line.highlighted.number {
    color: black !important;
}
.syntaxhighlighter table caption {
    color: black !important;
}
.syntaxhighlighter .gutter {
    color: #AFAFAF !important;
}
.syntaxhighlighter .gutter .line {
    border-right: 3px solid #6CE26C !important;
}
.syntaxhighlighter .gutter .line.highlighted {
    background-color: #6CE26C !important;
    color: white !important;
}
.syntaxhighlighter.printing .line .content {
    border: medium none !important;
}
.syntaxhighlighter.collapsed {
    overflow: visible !important;
}
.syntaxhighlighter.collapsed .toolbar {
    background: none repeat scroll 0 0 white !important;
    border: 1px solid #6CE26C !important;
    color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a {
    color: blue !important;
}
.syntaxhighlighter.collapsed .toolbar a:hover {
    color: red !important;
}
.syntaxhighlighter .toolbar {
    background: none repeat scroll 0 0 #6CE26C !important;
    border: medium none !important;
    color: white !important;
}
.syntaxhighlighter .toolbar a {
    color: white !important;
}
.syntaxhighlighter .toolbar a:hover {
    color: black !important;
}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {
    color: black !important;
}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {
    color: #008200 !important;
}
.syntaxhighlighter .string, .syntaxhighlighter .string a {
    color: blue !important;
}
.syntaxhighlighter .keyword {
    color: #006699 !important;
}
.syntaxhighlighter .preprocessor {
    color: gray !important;
}
.syntaxhighlighter .variable {
    color: #AA7700 !important;
}
.syntaxhighlighter .value {
    color: #009900 !important;
}
.syntaxhighlighter .functions {
    color: #FF1493 !important;
}
.syntaxhighlighter .constants {
    color: #0066CC !important;
}
.syntaxhighlighter .script {
    color: #006699 !important;
    font-weight: bold !important;
}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {
    color: gray !important;
}
.syntaxhighlighter .color2, .syntaxhighlighter .color2 a {
    color: #FF1493 !important;
}
.syntaxhighlighter .color3, .syntaxhighlighter .color3 a {
    color: red !important;
}
.syntaxhighlighter .keyword {
    font-weight: bold !important;
}
.silk-folder {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/static/icons/folder.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    background-size: auto auto;
    padding-left: 20px;
}
.silk-page-white-code {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/static/icons/page_white_code.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    background-size: auto auto;
    padding-left: 20px;
}
.silk-page-white {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/static/icons/page_white.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    background-size: auto auto;
    padding-left: 20px;
}
.silk-page-white-c {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("/static/icons/page_white_c.png");
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat !important;
    background-size: auto auto;
    padding-left: 20px;
}
button::-moz-focus-inner, input[type="text"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner {
    margin-top: -1px !important;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #E9E9E9 -moz-use-text-color -moz-use-text-color;
    border-right: 0 none;
    border-style: solid none none;
    border-width: 1px 0 0;
}
html {
    border: 0 none;
    margin: 0;
    overflow-y: scroll;
    padding: 0;
}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {
    display: block;
}
pre, .diff-header, .diff-ul li {
    font-family: Consolas,'Bitstream Vera Sans Mono','Courier New',Courier,monospace;
}
body {
    background: none repeat scroll 0 0 white;
    line-height: 1.5;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    float: none !important;
    font-weight: normal;
    text-align: left;
}
table, th, td {
    vertical-align: middle;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}
a img {
    border: medium none;
}
:focus {
    outline: 0 none;
}
button, body {
    font-family: Arial,Helvetica,sans-serif;
}
body {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
}
legend {
    font-size: 1.1em;
    font-weight: bold;
    padding: 5px;
}
fieldset {
    border: 1px solid #E9E9E9;
}
label span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 125px;
}
label span img {
    float: left;
    padding: 2px 5px 2px 2px;
}
label input[type="text"], label select {
    width: 200px;
}
a {
    color: #3366CC;
    text-decoration: none;
}
a:hover {
    color: #3366CC;
    text-decoration: underline;
}
.strong {
    font-weight: bold;
}
.ds {
    border-bottom: 1px solid #E7E7E7;
    border-right: 1px solid #E7E7E7;
    display: inline-block;
}
.header {
    background: -moz-linear-gradient(#FFFFFF, #F5F5F5) repeat scroll 0 0 transparent;
    border-bottom: 1px solid #E9E9E9;
    height: 31px;
    margin-bottom: 20px;
}
.header .settings {
    border-left: 1px solid #E7E7E7;
    float: right;
    height: 20px;
    margin-left: 8px;
    padding-bottom: 4px;
    padding-top: 6px;
}
.header .spacer, .header a {
    border-top: 2px solid #BAD3EA;
    color: #3366CC;
    display: block;
    float: left;
    font-size: 1em;
    padding: 5px 9px;
}
.header .spacer {
    float: none;
    height: 2px;
}
.header a:hover {
    background: -moz-linear-gradient(#DAF3FF, #CAE3FA) repeat scroll 0 0 transparent;
    text-decoration: none;
}
.header strong a {
    border-top-color: #3366CC;
    color: #000000;
}
.big-logo {
    background: url("/static/images/logo.png") no-repeat scroll -1px -1px transparent;
    height: 58px;
    margin: 0 auto 32px;
    width: 322px;
}
.small-logo {
    background: url("/static/images/logo.png") no-repeat scroll -1px -68px transparent;
    float: left;
    height: 34px;
    margin: 0 12px 0 0;
    position: relative;
    width: 180px;
}
.home input[type="text"] {
    border-color: #CCCCCC #999999 #999999 #CCCCCC;
    border-style: solid;
    border-width: 1px;
    font-family: arial,sans-serif;
    font-size: 18px;
    height: 28px;
    margin: 0;
    outline: medium none;
    padding: 0 0 0 5px;
    vertical-align: top;
}
button.g-button, a.g-button, input.g-button[type="submit"] {
    background: -moz-linear-gradient(#FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
    border: 1px solid #999999;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
    height: 30px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
    vertical-align: middle;
}
a.g-button {
    height: 23px;
    padding: 2px 6px 3px;
}
.home .ds input[type="submit"] {
    border-left: 0 none;
}
input.g-button:hover, button.g-button:hover, a.g-button:hover {
    background: -moz-linear-gradient(#F8F8F8, #DDDDDD) repeat scroll 0 0 transparent;
}
input.g-button:active, button.g-button:active, a.g-button:active {
    background: -moz-linear-gradient(#CCCCCC, #DDDDDD) repeat scroll 0 0 transparent;
}
.footer {
    clear: both;
    text-align: center;
}
.footer td {
    padding: 10px;
}
.search-results, .pod, .content {
    border-left: 1px solid #E9E9E9;
    margin-left: 175px;
    padding-left: 15px;
}
.search-group {
    padding: 5px 5px 5px 10px;
}
.search-bar, .account-bar, .about-bar {
    float: left;
    width: 165px;
}
.search-bar .search-type {
    font-size: 1.1em;
}
.search-bar label {
    display: block;
}
.search-bar .search-tag li {
    margin: 10px 2px;
}
.search-bar .search-tag a {
    border: 1px solid #999999;
    border-radius: 10px 10px 10px 10px;
    color: #333333;
    cursor: pointer;
    display: inline;
    line-height: 1;
    padding: 4px 6px;
    text-align: left;
    text-decoration: none;
    text-shadow: 0 1px 1px #FFFFFF;
}
#author-results ul {
    display: inline-block;
    margin: 10px 0;
}
#author-results li {
    border: 1px solid white;
    float: left;
    height: 50px;
    margin-right: 10px;
    overflow: hidden;
    padding: 5px 5px 5px 45px;
    width: 100px;
}
#author-results li:hover {
    border: 1px solid #EEEEEE;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 3px 3px 5px #EEEEEE;
}
#author-results a {
    display: block;
}
#author-results a:hover {
    text-decoration: none;
}
#author-results img {
    float: left;
    height: 30px;
    margin-left: -40px;
    width: 30px;
}
button.favorite, a.favorite {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: inline-block;
    font-size: 0.9em;
    line-height: 1;
    margin-left: 10px;
    min-width: 25px;
    opacity: 0.5;
    padding: 1px 3px;
    position: relative;
    text-align: right;
    text-decoration: none;
    top: -1px;
}
button.favorite {
    cursor: pointer;
    min-width: 35px;
}
button.favorite.highlight, a.favorite.highlight {
    background: -moz-linear-gradient(#FFC874, #FCA216) repeat scroll 0 0 transparent;
    border-color: #D39534;
    color: #FFFFFF;
    opacity: 1;
    text-shadow: 0 1px 1px #333333;
}
button.favorite:hover, button.favorite.active, a.favorite.active, a.favorite:hover {
    background: -moz-linear-gradient(#6699FF, #3366CC) repeat scroll 0 0 transparent;
    border-color: #3366CC;
    color: #FFFFFF;
    opacity: 1;
    text-shadow: 0 1px 1px #333333;
}
.search-bar .search-tag a span {
    float: right;
    visibility: hidden;
}
.search-bar .search-tag a:hover span {
    visibility: visible;
}
.user-profiles > a {
    text-decoration: none;
}
.about-bar a, .account-bar a {
    display: block;
    font-size: 1.2em;
    padding: 6px;
}
.about-bar a:hover, .account-bar a:hover {
    background-color: #F9F9F9;
    text-decoration: none;
}
.about-bar a.active, .account-bar a.active {
    background-color: #F9F9F9;
    color: #000000;
    font-weight: bold;
}
.account-settings label {
    display: block;
    font-size: 1.1em;
    margin-bottom: 10px;
}
.account-settings a.g-button {
    width: 80px;
}
.account-settings button.g-button {
    width: 94px;
}
.account-settings td {
    padding: 5px;
}
.account-settings .valid {
    background-color: #990000;
    color: #FFFFFF;
    display: none;
    float: right;
    font-size: 1.2em;
    font-weight: bold;
    padding: 5px;
}
.account-settings .invalid {
    display: inline-block;
}
.account-author-profiles {
    width: 155px;
}
.icon {
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
.icon-module {
    background-image: url("/static/icons/package.png");
}
.icon-dist {
    background-image: url("/static/icons/box.png");
}
.icon-user {
    background-image: url("/static/icons/user.png");
}
.icon-server {
    background-image: url("/static/icons/server.png");
}
.pod html, .pod body, .pod dl, .pod dt, .pod dd, .pod h1, .pod h2, .pod h3, .pod h4, .pod h5, .pod h6, .pod pre, .pod form, .pod fieldset, .pod input, .pod p, .pod blockquote, .pod th, .pod td {
    margin: 5px;
    padding: 5px;
}
.pod code {
    font-family: monospace;
}
#permalink {
    float: right;
    margin: 5px;
    padding: 5px;
}
.pod ol {
    list-style: decimal outside none;
    margin-left: 40px;
}
.pod ul {
    list-style: disc outside none;
    padding-left: 20px;
}
.pod pre {
    margin-left: 20px;
}
.pod h1, .pod h2, .pod h3, .pod h4, .recent-date {
    background: none repeat scroll 0 0 transparent;
    color: #3366CC;
    font-weight: bold;
}
.pod h1 {
    font-size: 1.5em;
}
.recent-date {
    display: block;
    font-size: 1.1em;
    text-align: right;
}
.pod h2 {
    font-size: 1.3em;
}
.pod h3, .pod h4 {
    font-size: 1.1em;
}
.pod p, .pod dt {
    font-size: 1.1em;
}
.pod dt {
    font-weight: bold;
}
.pod img {
    vertical-align: top;
}
.pod .toc A {
    text-decoration: none;
}
.pod .toc LI {
    line-height: 1.2em;
    list-style-type: none;
}
ul#index, #index ul {
    list-style-type: none;
}
.syntaxhighlighter, .pod pre {
    background-color: #FAFAFA;
    border: 1px solid #E9E9E9;
    overflow-y: hidden !important;
    padding: 10px;
    width: auto !important;
}
.nogutter, .pod pre {
    padding-left: 10px;
}
.search-results img, .author-img {
    border-radius: 8px 8px 8px 8px;
    height: 130px;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: left;
    width: 130px;
}
#content {
    padding: 10px;
}
ul {
    list-style-type: none;
}
.comment {
    color: #999999;
    font-size: 0.8em;
}
.box-right {
    clear: right;
    float: right;
    overflow: auto;
    padding-left: 10px;
    width: 160px;
}
a.ellipsis {
    width: 160px;
}
.ellipsis {
    display: block;
    overflow: hidden;
    white-space: nowrap;
}
code {
    font-family: monospace;
}
.olControlAttribution {
    bottom: 0 !important;
}
.pager {
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
}
.pager a, .pager strong {
    padding-left: 6px;
}
.pager a strong {
    padding-left: 0;
}
.search-bar input[type="text"], .search-bar select {
    width: 160px;
}
body div.qtip div.content {
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
}
.ui-tooltip, .qtip {
    font-size: 12px;
    max-width: 800px;
}
.ui-tooltip-content {
    padding: 0;
}
div.qtip-github table {
    width: 100%;
}
div.qtip-github table td, div.qtip-github table th {
    border: 1px solid #F1F1F1;
    padding: 3px;
}
div.qtip-github table th {
    background-color: #F9F9F9;
    padding-right: 8px;
    white-space: nowrap;
}
.tablesorter, .release-table {
    table-layout: fixed;
    width: 100%;
}
.tablesorter td, .tablesorter th, .release-table td, .release-table th {
    padding: 2px;
}
.tablesorter th, .release-table th {
    font-weight: bold;
    text-align: left;
}
.release-table .name {
    width: 266px;
}
.tablesorter .date, .release-table .date {
    font-size: 1em;
    width: 100px;
}
.file-table .mtime, .file-table .size {
    font-size: 1em;
    width: 110px;
}
.file-table .documentation {
    font-size: 1em;
    width: 300px;
}
.file-table td.mtime, .release-table td.date {
    text-align: right;
}
.file-table .name a {
    display: inline-block;
}
.file-table .name, .release-table .abstract, .release-table .date {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tablesorter .odd, .release-table .odd {
    background-color: #F9F9F9;
}
.search-results .description {
    color: #999999;
    max-height: 3em;
    overflow: hidden;
}
.rating-00, .rating-05, .rating-10, .rating-15, .rating-20, .rating-25, .rating-30, .rating-35, .rating-40, .rating-45, .rating-50 {
    background: url("/static/images/stars-sprite-white.png") repeat scroll 0 0 transparent;
    display: inline-block;
    height: 12px;
    margin-bottom: 4px;
    vertical-align: bottom;
    width: 67px;
}
.rating-05 {
    background-position: 0 -19px;
}
.rating-10 {
    background-position: 0 -38px;
}
.rating-15 {
    background-position: 0 -57px;
}
.rating-20 {
    background-position: 0 -76px;
}
.rating-25 {
    background-position: 0 -95px;
}
.rating-30 {
    background-position: 0 -114px;
}
.rating-35 {
    background-position: 0 -133px;
}
.rating-40 {
    background-position: 0 -152px;
}
.rating-45 {
    background-position: 0 -171px;
}
.rating-50 {
    background-position: 0 -190px;
}
.leader_board {
    -moz-box-sizing: border-box;
    display: block;
    margin-left: 35px;
    width: 450px;
}
.leader_board * {
    -moz-box-sizing: border-box;
}
.leader_board_header {
    background: -moz-linear-gradient(center top , #B8E1FC 0%, #A9D2F3 10%, #90BAE4 25%, #90BCEA 37%, #90BFF0 50%, #6BA8E5 51%, #A2DAF5 83%, #BDF3FD 100%) repeat scroll 0 0 transparent;
    border-left: 1px solid #3366CC;
    border-right: 1px solid #3366CC;
    border-top: 1px solid #3366CC;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    color: #142854;
    font-size: 28px;
    font-weight: bold;
    padding: 5px 5px 0;
    text-align: center;
    text-shadow: 0 1px 1px #FFFFFF;
}
.leader_board_content {
    border-bottom: 1px solid #3366CC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 1px solid #3366CC;
    border-right: 1px solid #3366CC;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    float: left;
    padding: 10px 5px 5px;
}
.leader_board_row {
    float: left;
    width: 100%;
}
.leader_board_top_all {
    float: left;
}
.leader_board_top_all div {
    float: left;
}
.leader_board_top_5 {
    background: -moz-linear-gradient(center top , #FECCB1 0%, #F17432 50%, #EA5507 51%, #FB955E 100%) repeat scroll 0 0 transparent;
    border: 1px solid #F67F40;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    color: #FFFFFF;
    font-size: 22px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.leader_board_top_5 .leader_board_rank {
    background: -moz-linear-gradient(center top , #2AB0ED 1%, #BFE8F9 50%, #9FD8EF 51%, #E4F5FC 99%) repeat scroll 0 0 transparent;
    border: 1px solid #68C7F2;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    color: #142854;
    margin-right: 10px;
    padding: 3px 12px;
    text-align: center;
}
.leader_board_top_5 .leader_board_name {
    line-height: 40px;
    text-shadow: 0 1px 1px #000000;
}
.leader_board_top_5 .leader_board_name a, .leader_board_top_10 .leader_board_name a {
    color: #FFFFFF !important;
}
.leader_board_top_5 .leader_board_count {
    float: right;
    line-height: 38px;
    margin: 0 15px;
    text-shadow: 0 1px 1px #000000;
}
.leader_board_top_10 {
    background: -moz-linear-gradient(center top , #BFD255 0%, #8EB92A 50%, #72AA00 51%, #9ECB2D 100%) repeat scroll 0 0 transparent;
    border: 1px solid #8CBE1A;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}
.leader_board_top_10 .leader_board_rank {
    background: -moz-linear-gradient(center top , #E2E2E2 0%, #DBDBDB 50%, #D1D1D1 51%, #FEFEFE 100%) repeat scroll 0 0 transparent;
    border: 1px solid #959595;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 1px 1px 0 rgba(50, 50, 50, 0.75);
    color: #142854;
    margin-right: 10px;
    padding: 2px 8px;
    text-align: center;
}
.leader_board_top_10 .leader_board_name {
    line-height: 32px;
    text-shadow: 0 1px 1px #000000;
}
.leader_board_top_10 .leader_board_count {
    float: right;
    line-height: 32px;
    margin: 0 15px;
    text-shadow: 0 1px 1px #000000;
}
.leader_board_top_rest {
    border-bottom: 1px dotted #142854;
    color: #000000;
    font-size: 12px;
    margin-bottom: 10px;
    padding-bottom: 9px;
    width: 100%;
}
.leader_board_top_rest .leader_board_rank {
    margin-right: 10px;
}
.leader_board_top_rest .leader_board_name {
}
.leader_board_top_rest .leader_board_count {
    float: right;
}
.diff-container {
    background-color: #F9F9F9;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
}
.diff-header {
    background: -moz-linear-gradient(#FFFFFF, #DDDDDD) repeat scroll 0 0 transparent;
    padding: 5px;
}
.diff-header a {
    color: #000000;
}
.diff-container .syntaxhighlighter {
    border: 0 none !important;
    margin: 5px !important;
}
.diff-ul {
    border-top: 1px solid #EEEEEE;
    margin-bottom: 20px;
}
.diff-ul li {
    border-bottom: 1px solid #EEEEEE;
    margin: 2px;
}
.diff-ul .plus, .diff-ul .minus {
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}
.diff-ul .plus {
    background-color: #009900;
}
.diff-ul .minus {
    background-color: #990000;
}
table.tablesorter thead tr .header {
    background-image: url("/static/icons/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: bold;
    height: auto;
}
table.tablesorter tbody tr.odd td {
    background-color: #F9F9F9;
}
table.tablesorter thead tr .headerSortUp {
    background-image: url("/static/icons/asc.gif");
}
table.tablesorter thead tr .headerSortDown {
    background-image: url("/static/icons/desc.gif");
}
